.application-list {
  margin: 0;
  padding: 0;
}

.application-list-item.selected {
  background-color: yellow;
}

.application-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 5px;
  margin: 0;
}

.application-list-item .label {
  flex: 1;
}

.application-list-item button {
  flex: 0;
}
