section.console {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

code.console {
  font-family: 'Cascadia Mono';
  flex: 1 0 0;
  align-self: baseline;
}

code.console.collapsed {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prompt {
  font-family: 'Cascadia Mono';
  opacity: 0.5;
  user-select: none;
  margin-right: 5px;
  flex: 0;
  align-self: baseline;
}

.expansion-toggle {
  flex: 0;
  padding: 0px;
  line-height: 0;
  margin-left: 5px;
  align-self: flex-end;
}

.expansion-toggle svg {
  width: 20px;
  height: 20px;
}

code.console > span > span {
  padding: 2px;
  border-radius: 2px;
}

.peek {
  background-color: yellow;
  color: var(--console-background);
}
