.messages {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.messages li {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.messages li.error {
  font-family: 'Cascadia Mono';
  background: red;
  color: white;
}

.messages li.warning {
  font-family: 'Cascadia Mono';
  background: yellow;
}

.messages li.info {
  font-family: 'Cascadia Mono';
  background: gainsboro;
}

.messages li > span {
  flex: 1;
}

.messages li > button {
  flex: 0;
}
